[submodule "anonymBE/src/SGX-OpenSSL"]
	path = anonymBE/src/SGX-OpenSSL
	url = https://github.com/sparkly9399/SGX-OpenSSL.git
[submodule "anonymBE/src/mongo-sgx-client"]
	path = anonymBE/src/mongo-sgx-client
	url = git@github.com:sebva/mongo-sgx-client.git
[submodule "anonymBE/src/sgx_common"]
	path = anonymBE/src/sgx_common
	url = https://gitlab.securecloud.works/rafael.pires/sgx_common.git
[submodule "anonymBE/src/minioclient-cpp"]
	path = anonymBE/src/minioclient-cpp
	url = https://github.com/rafaelppires/minioclient-cpp.git
[submodule "eval/tputlat/wrk2"]
	path = eval/tputlat/wrk2
	url = https://github.com/giltene/wrk2.git
[submodule "YCSB"]
	path = macrobenchmarks/YCSB
	url = git@github.com:sebva/YCSB.git
